body{
font-family:'맑은 고딕';
background-repeat:no-repeat;
background-size:100%;
}


div.a{
border:1px solid #ffc000;
width:120px;
height:120px;
position:absolute;
background-image: linear-gradient(to bottom,#fdfdc9 0,#f6f5b6 100%);
text-align:center;
line-height:120px;
margin:auto;

}


#text{
   text-align:center;
   margin:auto;
   line-height:250%;
}


#carousel-example-generic{
margin:auto;

}



#footer, h1{
   text-align:center;
   margin:auto;
   }



.minah_header{
	font-family: Helvetica;
	width: 100%;
	height: auto;
}

#minah_title{

	background-color: #00ba58;
	text-align: center;
	padding: 100px;
	color: white;
	font-size: 200px;
}

.introduce_minah{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #ff0033;
	 
}

#minah_name{

	text-align: right;
	padding-right: 50px;
	
}


#minah_intro{
	padding-top: 70px;
}


.minah_2014{
	padding: 100px;
	text-align: center;
}

.minah_2012{
	padding: 100px;
	text-align: center;
}

.minah_2011{
	padding: 100px;
	text-align: center;
}

.minah_2010{
	text-align: center;
	padding: 100px;
}

.close-modal{
	padding: 50px;


}
.modal-body{
	text-align: center;
	color: black;

}

.modal-footer{
	text-align: center;

}

#close{
	text-align: center;
	
}

.minah_footer{
	font-family: Helvetica;
	text-align: left;	
	background-color: #ff3300;
	color: white;
	
}

#minah_contact{
	font-size: 70px;	
}

#minah_mail{
	font-size: 15px;
}

#minah_copyright{
	font-size: 15px;
}

.item slide{
	margin : auto;
}

.navbar-default {
  background-color: #38d8c0;
  border-color: #d1e65e;
}