{% extends 'layout.html' %}
{% block body %}

	<title>CODINK</title>
	<style>
	.codink{
		top: 50%;
		left:50%;
		margin-top: 50px;
		font-family: Helvetica;
		text-align: center;
		color: black;
	}
	#team{
		width: 50%;
		height:auto;
	}
	a:link{color: black;}
	a:visited{color: black;}
	a:hover{color: red;}
	a:active{color: black;}
	a{
		text-decoration: none;
	}
	</style>

</head>

<body>
	<div class="codink">
	<img id="team" src="static/team.png">
	<a href="http://54.65.64.227:5000/jiyoon"><h2>Jiyoon Chung</h2></a>
	<a href="http://54.65.64.227:5000/jaehyo"><h2>Jaehyo Jeong</h2></a>
	<a href="http://54.65.64.227:5000/jeonghyun"><h2>Jeonghyeon Kim</h1></a>
	<a href="http://54.65.64.227:5000/jaeyoon"><h2>Jaeyoon Lee</h2></a>
	<a href="http://54.65.64.227:5000/minah"><h2>Minah Park</h2></a>
	</div>
	
{% endblock %}
