<!DOCTYPE HTML>
<html>
  

<head>
   <title>Minah</title>

<link rel="stylesheet" type="text/css" href='static/style.css' />

<!--bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="static/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


   <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


<!--jQuery CDN-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type='text/javascript' src='static/bootstrap.min.js'></script>

</head>


<body>

<!-- HEADER PART-->
<header class="minah_header"> 
	<div id="minah_title"><strong><p>PORTFOLIO</p></strong></div>
	<div  class="introduce_minah">
		<div id="minah_name"><h2>Minah Park</h2></div>
		
		<div id="minah_intro">
			<ul>
				<li>2014. 12</li>
				<p>Seoul National University </p>
				<p>Department of Oriental Painting Degree Show-Bachelor of Fine Art</p>
			</ul>
		</div>
	</div>
</header>

<!-- ACTUAL PORTFOLIO PART -->
<section id = "minah_portfolio">

	<div class ="minah_2014">
		<strong><h4>2014</h4></strong>
			<a href="#" class="work_link" data-toggle="modal" data-target="#basicModal">
			<img src="/static/work.png" />
			</a>
	</div>

	<div class ="minah_2012">
		<strong><h4>2012</h4></strong>
			<a href="#" class="work_link" data-toggle="modal" data-target="#basicModal">
			<img src="/static/work.png" />
			</a>

	</div>

	<div class ="minah_2011">
		<strong><h4>2011</h4></strong>
			<a href="#" class="work_link" data-toggle="modal" data-target="#basicModal">
			<img src="/static/work.png" />
			</a>
	</div>

	<div class ="minah_2010">
		<strong><h4>2010</h4></strong>
			<a href="#" class="work_link" data-toggle="modal" data-target="#basicModal">
			<img src="/static/work.png" />
			</a>
	</div>
		
</section>

<!-- FOOTER PART -->
<footer class="minah_footer">
	<div>
		<p id="minah_contact">CONTACT</p>
		<p id="minah_mail">mygurmi@gmail.com</p>
		<p id="minah_copyright"><em>Copyright &copy; Minah Park 2015</em></p>
	</div>
</footer>



 <!-- Portfolio Modals -->


 <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    	<div class="modal-dialog">
        		<div class="modal-content">
           			 <div class="close-modal" data-dismiss="modal">
            				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            			</div>
            			
            			<div class="modal-body">
                			<img src="static/work.png"/>
                			<p>Title</p>
                			<p>Color print</p>

            			</div>
            			
            			<div class="modal-footer">
               			 <button  id="close" type="button" class="btn btn-default" data-dismiss="modal">
               			 Close
               			 </button>	 
        			</div>
    		</div>
  	</div>
</div>

 



</body>

</html>


